
  <p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon" routerLink="">EXPLORER UEA</button>
        <span class="example-spacer"></span>
        <button  [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" 
        aria-label="Example icon-button with menu icon" >
          <mat-icon >menu</mat-icon>
        </button>

        
          <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/login">Login</button>
              <button mat-menu-item routerLink="/cadastro">Novo Usuario</button>
              <button mat-menu-item routerLink="/projetos/novo">Novo Projeto</button>
              <button mat-menu-item routerLink="/usuarios">usuarios</button>
          </mat-menu>
      </mat-toolbar-row>
  
    
    </mat-toolbar>
  </p>



