<h3>Projetos</h3>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Nome do Projeto</mat-card-title>
      <mat-card-subtitle>Pesquisadores</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Descrição
      </p>
    </mat-card-content>
    <mat-card-actions>
      
      <button mat-raised-button color="primary" routerLink="/atividade/novo">Editar</button>
    </mat-card-actions>
  </mat-card>