<h3 class="h1">Cursos da Unidade Cesit</h3>
<mat-accordion>
    
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" *ngFor="let cursos of listacurso">
      <mat-expansion-panel-header >
        <mat-panel-title >
          
              {{cursos.nome}}
              
        </mat-panel-title>
        <mat-panel-description>
            {{cursos.ativo}} {{panelOpenState ? '' : ''}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button class="button1" mat-raised-button color="primary" 
      routerLink="/projetos" *ngFor="let categoria of listacategoria">{{categoria.nome}}</button>
    </mat-expansion-panel>
  </mat-accordion>